.pagination {
    display: flex;
    justify-content: space-between;

    .Pbutton {
        width: 100px;
        border: none;
        padding: 16px;
        background-color: crimson;
        color: white;
        cursor: pointer;
    }

    .Pbutton:disabled {
        background-color: rgba(220, 20, 60, 0.473);
        cursor: not-allowed;
    }
}