.login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    .lWrapper {
        border: var(--color-2) solid 2px;
        padding: 100px 150px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        border-radius: 10px;

        .lButton {
            padding: 20px;
            border-radius: 5px;
            border: none;
            color: white;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
                background-color: #ff5555;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: #ff0000;
                }
            }

            &:nth-child(2) {
                background-color: #111;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: #000;
                }
            }

            &:nth-child(3) {
                background-color: #087bea;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: #0062cc;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .wrapper {
        padding: 50px 100px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        padding: 30px;
    }

    .socialButton {
        font-weight: 400;
        font-size: 14px;
    }
}