.home {
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 80px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    .homeContent{
        display: flex;
        gap: 50px;
    }
}




// Media Queries
@media screen and (max-width: 1536px) {
    .home {
        max-width: 1366px;
    }
}

@media screen and (max-width: 1280px) {
    .home {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .home {
        max-width: 768px;
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .home {
        max-width: 640px;
        padding: 0 30px;
    }
}

@media screen and (max-width: 640px) {
    .home {
        max-width: 475px;
        padding: 0 20px;
    }
}