.write {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 100px;
    padding-top: 10px;
    font-weight: 400;
    text-rendering: optimizeLegibility;

    .wTitle {
        margin-bottom: 50px;
        padding: 10px 20px;
        margin-left: 50px;
        width: max-content;
    }

    .select {
        margin-bottom: 50px;
        padding: 10px 20px;
        margin-left: 50px;
        width: max-content;
    }

    .wEditor {
        height: 700px;
        position: relative;
        background-color: var(--bg);
        color: var(--textColor);
    }

    .wButton,
    .wAddButton {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid var(--textColor);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .wAddButton {
        border-color: #1a8917;
    }

    .wAdd {
        display: flex;
        gap: 30px;
        background-color: var(--bg);
        position: absolute;
        z-index: 999;
        width: 10%;
        left: 50px;
        top: 0px;
    }

    .wInput {
        padding: 50px;
        font-size: 64px;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--textColor);
    }

    .wInput::placeholder {
        color: #b3b3b1;
    }

    .wTextArea {
        width: 100%;
    }

    .wPublish {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 10px 20px;
        border: none;
        background-color: #1a8917;
        color: white;
        cursor: pointer;
        border-radius: 20px;
    }
}