.navbar {
    background-color: var(--bg);
    color: var(--color);
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 100px;
    padding-top: 10px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .logo {}

    .right {
        display: flex;
        align-items: center;
        gap: 20px;
        .pages {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 260px;

            .page {
                color: var(--color);
                font-weight: 400;
                transition: all .3s ease-in;

                &:hover {
                    cursor: pointer;
                    color: var(--color);
                    font-weight: bolder;
                }

                &:active {}
            }
        }

        
    }
}









// Media Queries
@media screen and (max-width: 1536px) {
    .navbar {
        max-width: 1366px;
    }
}

@media screen and (max-width: 1280px) {
    .navbar {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar {
        max-width: 768px;
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        max-width: 640px;
        padding: 0 30px;
    }
}

@media screen and (max-width: 640px) {
    .navbar {
        max-width: 475px;
        padding: 0 20px;
    }
}