.navbar {
    background-color: var(--bg);
    color: var(--color);
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 100px;
    padding-top: 10px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 20px;

        .pages {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 260px;

            .page {
                color: var(--color);
                font-weight: 400;
                transition: all .3s ease-in;

                &:hover {
                    cursor: pointer;
                    color: var(--color);
                    font-weight: bolder;
                }
            }
        }
    }
}





// Media Queries
@media screen and (max-width: 1536px) {
    .navbar {
        max-width: 1366px;
    }
}

@media screen and (max-width: 1280px) {
    .navbar {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar {
        max-width: 768px;
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        max-width: 640px;
        padding: 10px 30px;

        .icons {
            display: none;
        }

        .logo {
            width: 50px;
            height: auto;
            object-fit: cover;
        }

        .right {
            gap: 5px;
            font-size: 14px;

            .pages {
                width: 450px;
                font-size: x-small;
            }
        }
    }

}

@media screen and (max-width: 640px) {
    .navbar {
        max-width: 475px;
        padding: 0 20px;

        .icons {
            display: none;
        }

        .logo {
            width: 50px;
            height: auto;
            object-fit: cover;
        }

        .right {
            gap: 10px;
            font-size: 14px;

            .pages {
                gap: 10px;
                width: 300px;
            }
        }
    }
}


@media screen and (max-width: 475px) {
    .navbar {
        max-width: 360px;
        justify-content: center;
    }
}