.footer {
    background-color: var(--bg);
    color: var(--color);
    font-weight: 400;
    text-rendering: optimizeLegibility;
    max-width: 1536px;
    margin: 0 auto;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    margin-top: 50px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .fInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .fLogo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .fDesc {
        font-weight: 300;
    }

    .fIcons {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

    .fLinks {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 100px;
    }

    .fList {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 300;
    }

    .fListTitle {
        font-weight: bold;
    }
}






// Media Queries
@media screen and (max-width: 1536px) {
    .footer {
        max-width: 1366px;
    }
}

@media screen and (max-width: 1280px) {
    .footer {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 768px;
        padding: 0 40px;

        .fLinks {
            gap: 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 50px;

        .fLinks {
            width: 100%;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 640px) {
    .footer {
        .fLinks{
            font-size: 14px;
        }
    }
}