.menuPosts {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.menuPostItem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menuPostImageContainer {
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
}

.menuPostImage {
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.menuPostText {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menuPostTravel {
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
    background-color: #ff7857;

}

.menuPostCulture {
    background-color: #ffb14f;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}

.menuPostFood {
    background-color: #7fb881;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}

.menuPostFashion {
    background-color: #ff7887;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}

.menuPostCoding {
    background-color: #775aec;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}

.menuPostStyle {
    background-color: #789cff;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}

.postTitle {
    font-size: 18px;
    font-weight: 500;
    color: var(--softTextColor);
}

.detail {
    font-size: 12px;
}

.date {
    color: gray;
}
